[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "optimalThreshold"]
	path = optimalThreshold
	url = https://github.com/cran/optimalThreshold
